body {
  background: #f9f7fe;
}

.App {
  max-width: 800px;
  margin: 60px auto;
  background-color: white;
  border-radius: 20;
  padding: 2rem;
}

.Weather {
  display: flex;
  flex-direction: column;
}

.Weather form {
  margin-top: 40px;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.Weather .search-input {
  background: #f9f7fe;
  width: 80%;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
  margin-right: 10px;
}

.Weather .btn {
  background: #885df1;
  font-weight: bold;
  font-size: 16px;
  padding: 1rem 2.5rem;
  border: none;
  height: 50px;
  color: #f9f7fe;
  border-radius: 4px;
}

.Weather .search-input::placeholder {
  line-height: 20px;
  color: rgba(39, 33, 66, 0.4);
}

.current-weather-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding-right: 2rem;
}

h1 {
  margin: 20px 0 10px 0;
  line-height: 29px;
  font-weight: bold;
  font-size: 38px;
  line-height: 48px;
  color: #272142;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  font-weight: 500;
  margin-bottom: 5px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}

li strong {
  color: #f65282;
  font-weight: normal;
}

.weather-icon-current {
  font-size: 80px;
}

.temperature-container {
  display: flex;
  flex-direction: row;
}

.inner-temp-container {
  align-self: center;
  padding-left: 1rem;
}

.temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
  font-weight: bold;
  font-size: 80px;
  line-height: 1;
}

.unit {
  color: rgb(33, 33, 33);
  font-size: 28px;
  line-height: 36px;
  font-weight: normal;
  position: relative;
  line-height: 1;
  top: -34px;
}

.WeatherIcons {
  text-align: center;
}
